<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.kit.kastel.scbs.javaAnnotations2JML.handler.JavaAnnotations2JmlHandler"
            id="edu.kit.kastel.scbs.javaAnnotations2JML.createJML"
            name="Create JML-Comments for Confidentiality Verification">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="edu.kit.kastel.scbs.javaAnnotations2JML.createJML"
               label="Create JML-Comments for Confidentiality Verification"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="or">
                     <instanceof
                           value="org.eclipse.jdt.core.IJavaProject">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="edu.kit.kastel.scbs.javaAnnotations2JML.createJML"
               label="Create JML-Comments for Confidentiality Verification"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="or">
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
