<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!--<extension 
	  point="org.eclipse.ui.handlers">
     <handler
           class="edu.kit.kastel.scbs.pcm2java4KeY.commands.Createjava4KeYHandler"
           commandId="edu.kit.kastel.scbs.pcm2java4KeY.commands.createjava4KeY">
     </handler>
  </extension>-->
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.kit.kastel.scbs.pcm2java4KeY.handler.PCM2Java4KeYHandler"
            id="edu.kit.kastel.scbs.pcm2java4KeY.commands.createjava4KeY"
            name="Create Java Code for KeY">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="edu.kit.kastel.scbs.pcm2java4KeY.beforeseparator"
               visible="true">
         </separator>
         <menu
               id="kastelCodeAnalysis"
               label="KASTEL Code Analysis">
            <command
                  commandId="edu.kit.kastel.scbs.pcm2java4KeY.commands.createjava4KeY"
                  label="Create Java Code for KeY"
                  style="push"
                  tooltip="Create Java Code for Verification with KeY">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
				       <adapt type="org.eclipse.core.resources.IResource">
              <or>
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.repository">
                 </test>
                 <!--<test
                       property="org.eclipse.core.resources.name"
                       value="*.system">
                 </test>
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.resourceenvironment">
                 </test>
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.allocation">
                 </test>-->
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.confidentiality">
                 </test>
                 <!--<test
                       property="org.eclipse.core.resources.name"
                       value="*.adversary">
                 </test>-->
              </or>
				       </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
         <separator
               name="edu.kit.kastel.scbs.pcm2java4KeY.afterseparator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>

</plugin>